@import url(variables.css);
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-1);
    
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    }
    
    .container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    }
    
    .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    background: white;
    border: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    }
    
    .concert-image {
    width: 100%;
    border-radius: 10px;
    }
    
    .highlight {
    color: purple;
    font-weight: bold;
    }
    
    .description {
    text-align: justify;
    padding: 0 15px;
    }
    
    .map-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    }
    
    .price {
    font-size: 18px;
    margin: 10px 0;
    }
    
    .buy-button {
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius:0%}