@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.header{

    background: blue;
    justify-content: flex;
    margin: auto;
    margin-top: 43px;
    flex-direction: column;
    gap: 20px;
}

.div__icons{
    background: yellow;
}

.div__titulo{
    background: pink;
}

.div__buscador{

    background: red;
}

.div__barra{
    background:green ;
}

.div__container{

    background: orange;
}

.carrusel__pequeño{
    background: brown;
}