@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-1);
    
}


.header__cartelera {
   /* background: pink;*/
    position: relative;
    width: 100%;
    height: auto;
}
.foto__fondo{

    object-fit: cover;
   /* background: red;*/
     width: 100%;
    height: 100%;
    

}

.titulo{

    width: 100%;
    display: flex;
    gap: 5px;
}

.titulo h2:nth-child(1) {
    font-size: 14px;
    color: var(--color-2);
    font-family: "Inter-SemiBold";
}

.titulo span:nth-child(2) {

    font-size: 14px;
    color: var(--color-8);
    font-family: "Inter-SemiBold";

   
}
/************************************************/


.div__central{


    border-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-radius: 14px;
    display: flex;
    background: var( --color-1);
    width: 85%;
    height: 140px;
    margin: auto;
    position: absolute;
    top: 37%;
    left: 8%;
    gap: 16px;
    flex-direction: column;
    padding-bottom: 12px;
    padding-left: 20px;  
    padding-right: 20px;
    padding-top: 12px;
    

} 



.ubicacion{
   /* background: pink;*/

}

.ubication img{
    padding: 0%;
    width: 10px;
    height: 12px;


}

.ubicacion span{
    font-size: 12px;
    font-family: "Inter-Regular";



}

.calendario{

   /* background: orange;*/


}

.calendario img{

    width: 11px;
    height: 12px;

}



.calendario span{

    font-size: 12px;
    font-family: "Inter-Regular";
}
.div__caja{

/* background: pink;*/
}

.div__caja__personas{
    width: 70%;
    display: flex;
    margin-left: 0%;
   
    padding: left 12PX; ;



}
/*****************************************personas**************/
.photos__personas{
   /* background: blueviolet;*/
    display: flex;
    gap:0px;
    width:60px;
    height:28px ;
    /* margin-right: 100px;*/
}

.photos__personas img:nth-child(1){

    background: transparent;
}

.photos__personas img:nth-child(2){

    background: transparent;
    position: relative;
    right: 15%;

}

.photos__personas img:nth-child(3){

    background: transparent;
    position: relative;
    right: 25%;
}



.cantidad__personas{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   /* right: 5%;*/
   
}
.cantidad__personas h4{
   /* background: yellow;*/
    margin-left: 8px;
    display: flex;
    font-size: 12px;
    font-family: "Inter-Medium"; 
}

/****************************************************************/

/*.div__contenido{
    padding: 5px;
    width: 93%;
    margin: 0 auto;
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;

}

.texto__visible{

    padding: 5px;
    display: inline; 
    color: var(--color-2);
    font-size: 12px;
    font-family: "DM-Sans-Mixed";
}

.caja__segunda{

    padding: 5px;


}

.caja__segunda span{

    padding: 5px;
    font-size: 14px;
    font-family: "inter-medium";
}


.div__contenido{

    background: salmon;
    padding: 5px;
    width: 93%;
    margin: 0 auto;
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
}



.leer-mas {
    /* background: rgb(0, 174, 255); */
    /* padding: 5px; 
    color: var(--color-2);
    cursor: pointer;
    font-size: 12px;
    font-family: "DM-Sans-Mixed";
    text-decoration: underline;
}
  
  .ocultar {

    padding: 5px;
    display: none;
  }
  
  .texto__adicional {
   
    display: none;
    color: var(--color-2);
    font-size: 12px;
    font-family: "DM-Sans-Mixed";
  }
  
  #leer-mas:checked + label + .texto-adicional {
   
    display: inline; 
  }
  
  #leer-mas:checked + label {
    
    display: none; /* Oculta el "Leer más" cuando se hace clic *
  }
  
.div__cajota{

    background:blue;
}