@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-1);
    
}

.header {

   /* background: yellow;*/
    flex-direction: column;
    gap: 20px;
    margin: auto;
    display: flex;
    width: 100%;
    margin-top: 44px;
}


.div__icons {
   /* background: pink;*/
    justify-content: space-between;
    display: flex;
}

.div__icons img{

    width: 32px;
    height: 32px;
}


.div__titulo {
  /*  background: red;*/
    display: flex;
    flex-direction: column;
    width:85% ;

}



.titulo1 {

    font-size: 30px;
    font-family:"Inter-Semibold";

}


.titulo2 {

    font-size: 30px;
    color:var(--color-2);
    font-family:"Inter-Semibold";

}


.div__buscador {

    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;

}

.div__buscador img{
     width: 17px;
     height: 17px;



}



.div__barra {
    display: flex;
}

.div__barra img{

    width: 17px;
    height: 17px;

}

.div__barra p{
   /* background: slateblue;*/

    font-size: 12px;
    font-family: "Inter-Regular";
}

/*******************************carruseles****************************/
.div__container {
    display: flex;
    position: relative;
    background: pink;
    bottom: 10px;
    overflow-x: auto;
   /* -webkit-overflow-scrolling: touch;*/
    overflow-x: scroll;
}


.carrusel__pequeño {
}
