<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
    <link rel="stylesheet" href="../css/style2.css">
</head>
<body>
    
    <!-- CODPLAY-->

    <div class="div__cartelera">
        <img src="../storage/img/codplayfondo.png" alt="">
        <div class="div__informacion">
            <h2>codplay: <span>music of the sheperes</span></h2>
            <div class="div__lugar__img">
                <img src="storage/img/Location.svg">
                <p>gelora bung karno stadium</p>
                </div>
                <div class="div__fecha__img">
                    <img src="storage/img/Vector.svg">
                    <p>noviembre 15 2023</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="div__informacion"></div>
    <div class="personas">
        <img src="../storage/img/persona1.svg" alt="">
        <img src="../storage/img/persona2.svg" alt="">
        <img src="../storage/img/persona3.svg" alt="">
    </div>
    <div class="div__cantidad">
     <h2> 50K+ participants</h2>
    </div>
</div>
    
</body>
</html>