<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
    <link rel="stylesheet" href="../css/style1.css">
</head>
<body>
    

    <!-- header-->  


    <header class="header__cartelera">
    <img class="foto__fondo" src="../storage/img/codplay444.png">
    </header>
  <!-- fin header--> 

  <!-- caja de la mitad--> 
    <div class="div__central">
      <div class="div__caja">
        <div class="titulo">
          <h2>Coldplay:</h2><span>Music of the Sepheres</span>
        </div>
        <div class="ubicacion">
          <img src="../storage/img/lugar.svg" alt="">
          <span>Gelora Bung Karno Stadium</span>
        </div>
        <div class="calendario">
          <img src="../storage/img/Calender 1.svg" alt="">
          <span>November 15 2023</span>
        </div>
        <div class="div__caja__personas">
          <div class="photos__personas">
            <img src="../storage/img/persona1.svg" alt="">
            <img src="../storage/img/persona2.svg" alt="">
            <img src="../storage/img/persona3.svg" alt="">
          </div>
          <div class="cantidad__personas">
            <h4>50K+ Participants</h4>
          </div>
        </div>
      </div>


    </div>
 
   

</body>
</html>