<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
    <link rel="stylesheet" href="../css/style1.css">
</head>
<body>
    

    <!-- header-->  


    <header class="header__cartelera">
    <img class="foto__fondo" src="../storage/img/codplay444.png">
    </header>
  <!-- fin header--> 

  <!-- caja de la mitad--> 
    <div class="div__central">
      <div class="div__caja">
        <div class="titulo">
          <h2>Coldplay:</h2><span>Music of the Sepheres</span>
        </div>
        <div class="ubicacion">
          <img src="../storage/img/lugar.svg" alt="">
          <span>Gelora Bung Karno Stadium</span>
        </div>
        <div class="calendario">
          <img src="../storage/img/Calender 1.svg" alt="">
          <span>November 15 2023</span>
        </div>
        <div class="div__caja__personas">
          <div class="photos__personas">
            <img src="../storage/img/persona1.svg" alt="">
            <img src="../storage/img/persona2.svg" alt="">
            <img src="../storage/img/persona3.svg" alt="">
          </div>
          <div class="cantidad__personas">
            <h4>50K+ Participants</h4>
          </div>
        </div>
      </div>
    </div>
      <!-- main-->
      <div class="contenido">
        <div class="encabezado_segundo">
            <span>Descripcion</span>
        </div>
        <p class="texto-visible">
            Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. 
          <input type="checkbox" id="leer-mas" class="ocultar">
          <label for="leer-mas" class="leer-mas">Read more</label>
          <span class="texto-adicional">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, assumenda. Fugiat provident quia eaque repellendus libero, laudantium iusto eius cum vitae rerum temporibus neque et architecto veniam eligendi qui esse!
          </span>
        </p>
        <div class="mapa_info">
            <span>Venue & Location</span>
            <a href="https://www.google.com/maps/place/San+Francisco,+California,+EE.+UU./@37.7576928,-122.4787995,13z/data=!3m1!4b1!4m6!3m5!1s0x80859a6d00690021:0x4a501367f076adff!8m2!3d37.7749295!4d-122.4194155!16zL20vMGQ2bHA?hl=es&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D"><img src="../storage/img/Mask group.svg" alt=""></a>
        </div> 
    </div>
</div>
<div class="caja_buy">
    <div class="information_buy">
        <p>Start from</p>
        <span>IDR1.100.000</span>
    </div>
    <div class="buy">
        <a href="../views2/coldplay.html">Buy Ticket</a>
    </div>
</div>     
</body>
</html>
</body>
</html>