
    <!-- header-->  


    <header class="header__cartelera">
        <img class="foto__fondo" src="../storage/img/codplay444.png">
        </header>
    
      <!-- fin header--> 
    
      <!-- caja de la mitad--> 
      <div class="div__mitad">
      <div class="div__descripcion">
    
      <div class="div__titulo">
        <h2>codplay: <span>music of the sphoere</span></h2>
      </div>
        <div class="div__ubicacion">
             <img src="../storage/img/lugar.svg" alt="">
             <span>gelora bung karno stadium</span>
        </div>
        <div class="div__calendario">
            
    <!-- header-->  


    <header class="header__cartelera">
        <img class="foto__fondo" src="../storage/img/codplay444.png">
        </header>
    
      <!-- fin header--> 
    
      <!-- caja de la mitad--> 
      <div class="div__mitad">
      <div class="div__descripcion">
    
      <div class="div__titulo">
        <h2>codplay: <span>music of the sphoere</span></h2>
      </div>
        <div class="div__ubicacion">
             <img src="../storage/img/lugar.svg" alt="">
             <span>gelora bung karno stadium</span>
        </div>
        <div class="div__calendario">
            <img src="../storage/img/Calender 1.svg" alt="">
            <span>novembrer 15 2023</span>
        </div>
      <!-- caja perosnas --> 
        <div class="div__gente">
    
            <div class="photos__personas">
                <img src="../storage/img/persona1.svg" alt="">
                <img src="../storage/img/persona2.svg" alt="">
                <img src="../storage/img/persona3.svg" alt="">
            </div>
            <div class="cantidad__personas">
                <h4>50K+ participants</h4>
            </div>
    
        </div>
      </div>
    </div>
    
      <!-- cja de contenido--> 
       <div class="div__contenido">
        <div class="caja__segunda">
            <span>descripcion</span>
        </div>
         <p class="texto__visible">
            Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. 
            <input type="checkbox" id="leer-mas" class="ocultar">
            <label for="leer-mas" class="leer-mas">Leer más</label>
            <span class="texto__adicional">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, assumenda. Fugiat provident quia eaque repellendus libero, laudantium iusto eius cum vitae rerum temporibus neque et architecto veniam eligendi qui esse!
            </span>
         </p>
       </div>
    </body>
    </html>
        </div>
      <!-- caja perosnas --> 
        <div class="div__gente">
    
            <div class="photos__personas">
                <img src="../storage/img/persona1.svg" alt="">
                <img src="../storage/img/persona2.svg" alt="">
                <img src="../storage/img/persona3.svg" alt="">
            </div>
            <div class="cantidad__personas">
                <h4>50K+ participants</h4>
            </div>
    
        </div>
      </div>
    </div>
    
      <!-- cja de contenido--> 
       <div class="div__contenido">
        <div class="caja__segunda">
            <span>descripcion</span>
        </div>
         <p class="texto__visible">
            Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. 
            <input type="checkbox" id="leer-mas" class="ocultar">
            <label for="leer-mas" class="leer-mas">Leer más</label>
            <span class="texto__adicional">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, assumenda. Fugiat provident quia eaque repellendus libero, laudantium iusto eius cum vitae rerum temporibus neque et architecto veniam eligendi qui esse!
            </span>
         </p>
       </div>
    </body>
    </html>
