<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/tickets.css">
</head>
<body>
 

     <header class="header_contenedor">
        <a class="caja_link" href="../views/codplay.html"><img class="imagen_retroceso" src="../storage/img/Frame 34567 (1).svg"></a>
        <img class="menu_suspensivos" src="../storage/img/trespuntos.svg">
    </header> 

   

    <main class="caja_main">
        <div class="concert_ticket">
            <img src="../storage/img/tiketcodlplay.svg">
        </div>

     

        <div class="caja_padre_info">
            <div class="info_titulo">
                <span>Coldplay: Music of the Spheres</span>
                <p>Nov 15 2023 ~ Gelora Bung Karno Stadium</p>
            </div>
            <div class="div_information">
                <div class="subdiv_information">
                    <div class="information1">
                        <p>name</p>
                        <span>Indriyani Puspita</span>
                    </div>
                    <div class="information2">
                        <p>Order Number</p>
                        <span>CLD09738PL</span>
                    </div>
                </div>

                <div class="subdiv_information2">
                    <div class="information3">
                        <p>Date</p>
                        <span>Nov 15 2023</span>
                    </div>
                    <div class="information4">
                        <p>Time</p>
                        <span>9:00 PM</span>
                    </div>
                </div>


                <div class="subdiv_information3">
                    <div class="information5">
                        <p>Gate</p>
                        <span>Yellow</span>
                    </div>
                    <div class="information6">
                        <p>Seat</p>
                        <span>West B</span>
                    </div>
                </div>
            </div>
        </div>

     

        <div class="lineartxd">
            <img src="../storage/img/raya.svg">
        </div>

        

        <div class="codigo_barras">
            <img src="../storage/img/barradecodigo.svg">
        </div>


        <div class="coments">
            <span>Scan your barcode at the entry gate</span>
        </div>
    </main>          
</body>
</html>